<! DOCTYPE html>
<html>
	<head>
		<style>
		p{
<<<<<<< HEAD
			color: red;
=======
			color: blue;
>>>>>>> css-assignments
			text-align: center;
		}
		</style>
	</head>
	<body>
		<p><b> This file has index <br></b></p>
		<ol>
			<li> HTML </li>
			<li> CSS </li>
			<li> JavaScript </li>
		</ol>
	</body>
</html>





















